<div class="container">
  <div class="row">
    <!-- <div class="col"> -->
      <div class=" col-md-12 col-lg-12 text-center hh">  Detail tirage  </div><br><br>

              <div class="col col-md-4 text-center circle">
                    <span> {{Untirage.libelle}} </span>
              </div>
              <div class="col col-md-4 text-center circle">
                  <span>{{Untirage.date}} </span>
              </div>
              <div class="col col-md-4 text-center circle">
                <span>{{nbTrier}} </span>
               </div> <br><br>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Numero</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Contact</th>
            <th scope="col">Email</th>

          </tr>
        </thead>

        <tbody>
          <tr  *ngFor="let tirage of postulantListe$ |paginate: { itemsPerPage: 5, currentPage: pages};  let id=index" >
            <th scope="row">{{id+1}}</th>
            <td>{{tirage.nompostulant}}</td>
            <td>{{tirage.prenompostulant}}</td>
            <td>{{tirage.numeropostulant}}</td>
            <td>{{tirage.email}}</td>
          </tr>
        </tbody>
      </table>



      <pagination-controls (pageChange)="pages = $event"></pagination-controls>
  </div>


<!-- </div> -->
