<section class="container">

  <div class="main">
    <h1>Details Tirage</h1>


    <table>
      <tr >

        <th>Libelle</th>
        <th>date</th>
        <th>Nombre Tiré</th>
        <th>Liste tirer</th>
      </tr>

      <tr>
        <td>{{tirage.libelle}}}</td>
        <td>{{tirage.date}}</td>
        <td></td>
        <td></td>
       
      </tr>

    </table><br>


    <!--Verifie que l'observable contient quelquechose-->

    <table *ngIf=" postulantListe$ | async as index">
      <tr >
        <th>n°</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Numéro</th>
        <th>Email</th>
      </tr>

      <tr *ngFor="let t of postulantListe$ |async; index as g">
        <td>{{g+1}}</td>
        <td>{{t.nompostulant}}</td>
        <td>{{t.prenompostulant}}</td>
        <td>{{t.numeropostulant}}</td>
        <td>{{t.email}}</td>
      </tr>

    </table>

    <button>
      <a href="#">Suivant</a>
      <i class="fa-solid fa-angles-right"></i>

    </button>


 </div>


</section>
