<section class="container">


  <div class="main">
    <h1>Details Liste</h1>
    <table >
        <thead>
          <th>Date</th>
          <!--<th>Tirage</th>-->
          <th>Libelle</th>
          <th>Nombre_De_Personne</th>

        </thead>

        <tbody *ngIf=" tirages$ | async as index">

        <tr *ngFor="let tirage of tirages$ | async; index as i">
          <td>{{tirage.date}}</td>
          <td>{{tirage.libelle}}</td>
          <td>25</td>

          <!--

                <td>
            <select name="liste" style="border-radius: 30px; padding: 10px;">
              <option value="nom">--Choisissez--</option>
              <option value="nom">Tirage1</option>
              <option value="nom">Tirage2</option>
            </select>
           </td>

          -->
        </tr>

      </tbody>

    </table>

    <button>
      <a href="tirageD">Detail_Tirage</a>
      <i class="fa-solid fa-angles-right"></i>

    </button>


 </div>


</section>

