<section class="container">


  <div class="main">
    <h1>Details Liste</h1>
    <table>
      <tr>
        <th>Date</th>
        <th>Tirage</th>
        <th>Libelle</th>
        <th>Nombre_De_Personne</th>

      </tr>

      <tr>
        <td>2022/02/02</td>
         <td>
          <select name="liste" style="border-radius: 30px; padding: 10px;">
            <option value="nom">--Choisissez--</option>
            <option value="nom">Tirage1</option>
            <option value="nom">Tirage2</option>
          </select>
         </td>
        <td>talk</td>
        <td>25</td>


      </tr>

    </table>

    <button>
      <a href="tirageD">Detail_Tirage</a>
      <i class="fa-solid fa-angles-right"></i>

    </button>


 </div>


</section>

