<section class="container">

  <!-- <div class="row " style="text-align: center ;">  </div><br><br> -->
  <div class=" text-center hh" >Detail de la {{liste1.libele}}</div> <br><br>

  <div class="row">

    <div class="col col-md-4 col-lg-4 rect">

      {{liste1.date}}
    </div>
    <div class=" col-md-4 col-lg-4 rect" id="rect"> {{nbPostulant}}</div>
    <div class=" col-md-4 col-lg-4 rect" id="rect">{{nbTirage}}</div>

  </div><br><br>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Numero</th>
        <th scope="col">Date</th>
        <th scope="col">Libelle</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let tirage of tirages$ | paginate: { itemsPerPage: 2, currentPage: pages};  let id=index" >
        <th scope="row">{{id+1}}</th>
        <td>{{tirage.date}}</td>
        <td>{{tirage.libelle}}</td>
        <td><a [routerLink] ="['/tirageD', tirage.id]" style="color: black ;"><i class="fa fa-external-link" aria-hidden="true"></i></a></td>
      </tr>


    </tbody>
  </table>

  <pagination-controls (pageChange)="pages = $event"></pagination-controls>

</section>

