<section class="container">
  <div class="main">

  <h2 style="margin-left:35% ;">Creer un nouveau tirage  ci-dessous</h2>
  <div>
    <form action="">
      <div class="forme">
        <table>
          <tr>
            <td><label for="libelle">Libelle</label></td>
            <td ><input class="libelle" type="text" name="libelle"  placeholder="Veuillez entre le libelle du tirage!" required></td>
          </tr>
          <tr>
            <td><label for="liste">Liste</label></td>
            <td><select class="liste" name="liste" >
              <option value="">--Choisissez une liste--</option>
              <option value="talk">talk</option>
              <option value="evenement">Evenement</option>
              <option value="formation">Formation</option>
            </select></td>
          </tr>
          <tr>
            <td><label for="nombre">Nombre à tiré</label></td>
            <td><input  class="nbre" type="text" name="nbre" placeholder="0" required></td>
          </tr>
        </table>
    </div><br><br>

          <input class="btn" type="submit" value="Tirer" name="tirer"><br><br>
    </form>
  </div>

</div>
</section>

