<div>
  <section class="container">

    <aside class="dashboard">
      <img src="assets/images/logo.png" alt="">
      <div class="bouton">

        <ul>
          <li>
            <a href="tirageA">Accueil</a>
          </li>
          <li>
            <a href="tirageT">Tirage</a>
          </li>
        </ul>

      </div>
    </aside>
    <div class="main">
      <router-outlet></router-outlet>
      <div class="footer">
          <p>copyright 2022| FreeTirage</p>
      </div>
    </div>

  </section>

</div>
