.container{
  display: flex;
  background-color: #F5F5F5;
  background-size: cover;
}
/* le corps de la page*/
.main{
  width: 80%;
}

/* les styles pour le menu de navigation */
img{
  height: 110px;
  width: 180px;
}
.dashboard{
  width: 15%;
  background-color: #4A5E77;
  border-radius: 20px 20px 0 0;
}
.bouton li a{
  text-decoration: none;
  display: block;
  font-size: 30px;
  font-weight: bold;
  color: black;
}
li{
  list-style: none;
  text-align: center;
  margin-top: 50px;

}
li a:hover{
  border: none;
  border-bottom: 5px solid white;
}
li a:focus{
  border: none;
  border-bottom: 5px solid white;
}

.footer{
  border: 1px solid #d9d9d9;
  background-color: #d9d9d9;
  height: 60px;
  width: auto;
}
 p{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
 }


