

.stat{
  display: flex;
}


/* le deux container contenant les statistiques*/
.stat1{
  margin-left: 3%;
  width: 53%;
  height: 270px;
  background-color: #ececec;
  border-radius: 8% 8% 0 0;
  padding: 10px;
}

.part1{

  margin-left: 2%;
  font-weight: bolder;
  font-size: 20px;
}
.part2{
  padding-top: 15px;
  margin-left: 6%;
  font-weight: bolder;
  font-size: 20px;
}

.cercle{
  display: flex;
}
/* premier stat*/
.cercle1{
  margin-left: 6%;
  margin-top: 5%;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 20px solid red;
}

.cercle2{
  margin-left: 27%;
  margin-top: 5%;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 20px solid red;
}

/* deuxieme stat*/
.stat2{
  margin-left: 2%;
  width: 40%;
  height: 270px;
  background-color: #ececec;
  border-radius: 10% 10% 0 0;
  padding: 10px;
}
/* deuxieme contenaire pour les libelles*/
/* cercle pour le talk et le evenement*/
.cercl1{
  margin-left: 6%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 15px solid red;
}

/* cercle pour le formation*/
.cercl2{
  margin-left: 30%;
  margin-top: 2%;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 15px solid red;
}
/* cercle pour le evenement*/
.cercl3{
  margin-left: 6%;
  margin-top: 2%;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 15px solid red;
}

/* bouton talk*/
.partie1{
  margin-left: 5%;
  font-weight: bolder;
  font-size: 20px;
}

/* bouton formation*/
.partie2{
  padding-top: 15px;
  margin-left: 17%;
  font-weight: bolder;
  font-size: 20px;
}

/* bouton evenement*/
.partie3{
  margin-left: 3%;
  font-weight: bolder;
  font-size: 20px;
}

/* les details du bouton*/
 .detail a{
  text-decoration: none;
  border: 1px solid #ffab09;
  background-color: #ffab09;
  color: black;
  text-align: center;
  padding: 2px;
  border-radius: 10px;
}

.tirage{
  border: 1px solid #ffab09;
  background-color: #ffab09;
  width: 250px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10%;
  margin-top: 10%;
}
.tirage a{
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: bolder;
}

.foot{
  display: flex;
  margin-left: 2%;
}
.reseau{
  width: 50%;
}
.reseau img{
  width: 50px;
  height: 50px;
  padding: 10px;
}
.address img{
  width: 30px;
  height: 30px;
  padding: 5px;
}




