<section class="container">

  <div class="main">

    <h2>NOS STATISTIQUES</h2>
    <hr>
    <section class="stat">

      <div class="stat1">


        <span class="part1">Total Postulant Tiré</span>
        <span class="part2">Le Total de tirage</span>
        <span class="part3">Le Total de listes</span>


        <section class="cercle">

          <div class="cercle1">
            <p class="statistic">{{listes.length}}</p>
          </div>

          <div class="cercle2">
            <p class="statistic2"></p>
          </div>

          <div class="cercle3">
            <p class="statistic3"></p>
          </div>

        </section>
      </div>

    </section><br><br>

    <app-listes></app-listes><br><br>

    <div class="tirage">
      <a href="tirageT">Faire Tirage</a>
    </div>


    <h2>NOUS CONTACTER</h2>
    <hr>

    <section class="foot">

      <div class="reseau">
        <h3>Reseaux Sociaux</h3>
        <img src="assets/images/face.png" alt="">
        <img src="assets/images/instag.png" alt="">
        <img src="assets/images/lnkdn.png" alt="">
      </div>

      <div class="address">
        <h3>Adresse</h3>
        <table>
          <tr>
            <td><img src="assets/images/contact.png" alt=""></td>
            <td>20 44 40 44</td>
          </tr>
          <tr>
            <td><img src="assets/images/mailline.png" alt=""></td>
            <td>freetiragemali@gmail.com</td>
          </tr>
          <tr>
            <td><img src="assets/images/address.png" alt=""></td>
            <td>ACI 2000, Bamako</td>
          </tr>

        </table>


      </div>

    </section>


  </div>
  </section>
