

.stat{
  display: flex;
}


/* le deux container contenant les statistiques*/
.stat1{
  margin-left: 7%;
  width: 90%;
  height: 270px;
  background-color: #ececec;
  border-radius: 8px 8px 0 0;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
}

/*libelle pour le premeier statistique*/
.part1{
  margin-left: 2%;
  font-weight: bold;
  font-size: 22px;
}
/*libelle pour le deuxieme statistique*/
.part2{
  padding-top: 15px;
  margin-left: 17%;
  font-weight: bold;
  font-size: 22px;
}

/*libelle pour le troisieme statistique*/
.part3{
  padding-top: 15px;
  margin-left: 21%;
  font-weight: bold;
  font-size: 22px;
}

.cercle{
  display: flex;
}
/* premier stat*/
.cercle1{
  margin-left: 7%;
  margin-top: 5%;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  text-align: center;
  border: 12px solid green;
}
//statistique pour le premier cercle
.statistic{
  text-align: center;
  font-size: 60px;
  position: absolute;
  top: 21%;
  left: 29%;
  // margin-bottom: -100px;
}


.cercle2{
  margin-left: 23%;
  margin-top: 5%;
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 12px solid green;
}

//statistique pour le deuxieme cercle
.statistic2{
  text-align: center;
  font-size: 60px;
  position: absolute;
  top: 21%;
  left: 54.5%;
}

/* premier stat*/
.cercle3{
  margin-left: 22%;
  margin-top: 5%;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  text-align: center;
  border: 12px solid green;
}

//statistique pour le troisieme cercle
.statistic3{
  text-align: center;
  font-size: 60px;
  position: absolute;
  top: 21%;
  left: 79.5%;
}

/* Bouton tirage*/
.tirage{
  border: 1px solid #ffab09;
  background-color: #ffab09;
  width: 250px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10%;
  margin-top: 10%;
}
.tirage a{
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: bolder;
}

.foot{
  display: flex;
  margin-left: 2%;
}
.reseau{
  width: 50%;
}
.reseau img{
  width: 50px;
  height: 50px;
  padding: 10px;
}
/*.address{

}*/
.address img{
  width: 30px;
  height: 30px;
  padding: 5px;
}




