<section class="container">

<div class="main">



  <h2>NOS STATISTIQUES</h2>
  <hr>
  <section class="stat">

    <div class="stat1">


      <span class="part1">nombre total de listes tirées</span>
      <span class="part2">Nombre total de tirage</span>


      <section class="cercle">

        <div class="cercle1">
          <h2>{{listes.length}}</h2>
        </div>

        <div class="cercle2">
        </div>

      </section>

    </div>


    <div class="stat2">
      <span class="part1">nombre total de listes tirées</span><br>
      <span class="partie1" *ngFor="let index of liste"> {{index.libele}} <b class="detail"> <a [routerLink]="['/tirageL', index.idliste]">Details</a></b></span>


      <section class="cercle">

        <div class="cercl1">

        </div>


      </section>

      <span class="partie3"> Evenement <b class="detail"> <a href="tirageL">Details</a></b></span>

      <section class="cercle">

        <div class="cercl3">

        </div>

      </section>


    </div>

  </section>

  <div class="tirage">
    <a href="tirageT">Faire Tirage</a>
  </div>

  <ul *ngFor="let liste of listes">
    <li >{{liste.idliste}}</li>
    <li >{{liste.date}}</li>
    <li >{{liste.libele}}</li>
  </ul>

  <h2>NOUS CONTACTER</h2>
  <hr>

  <section class="foot">

    <div class="reseau">
      <h3>Reseaux Sociaux</h3>
      <img src="assets/images/face.png" alt="">
      <img src="assets/images/instag.png" alt="">
      <img src="assets/images/lnkdn.png" alt="">
    </div>

    <div class="address">
      <h3>Adresse</h3>
      <table>
        <tr>
          <td><img src="assets/images/contact.png" alt=""></td>
          <td>20 44 40 44</td>
        </tr>
        <tr>
          <td><img src="assets/images/mailline.png" alt=""></td>
          <td>freetiragemali@gmail.com</td>
        </tr>
        <tr>
          <td><img src="assets/images/address.png" alt=""></td>
          <td>ACI 2000, Bamako</td>
        </tr>
      </table>


    </div>

  </section>


</div>
</section>

