<section class="container">

  <div class="main">
    <h2 class="col-12">NOS STATISTIQUES</h2>
    <div class="stat">
      <div class="row">

        <div class="col col-md-4 xs-12 mb-3 mt-3 text-center">
          <span class="part1 mb-2">Total Postulant Tiré</span>

          <div class="cercle1 text-center">
            <!-- <div class="statistic text-center">{{listes}}</div> -->
          </div>

        </div>
        <div class="col col-md-4 xs-12 mb-3 mt-3 text-center">
          <span class="part1 mb-2 mt-2">Le Total de tirage</span>

          <div class="cercle1 text-center">
            <!-- <div class="statistic">{{listes}}</div> -->
          </div>

        </div>
        <div class="col col-md-4 xs-12 mb-3 mt-3 text-center">
          <span class="part1 mb-2 mt-2">Le Total de listes</span>

          <div class="cercle1">
            <p class="statistic">{{listes.length}}</p>
          </div>

        </div>
    </div>

  </div>
    <hr>
    <app-listes></app-listes><br><br>

    <div class="tirage">
      <a href="tirageT">Faire Tirage</a>
    </div>


    <h2>NOUS CONTACTER</h2>
    <hr>

    <div class="foot">

      <div class="reseau">
        <h3>Reseaux Sociaux</h3>
        <img src="assets/images/face.png" alt="">
        <img src="assets/images/instag.png" alt="">
        <img src="assets/images/lnkdn.png" alt="">
      </div>

      <div class="address">
        <h3>Adresse</h3>
        <table>
          <tr>
            <td><img src="assets/images/contact.png" alt=""></td>
            <td>20 44 40 44</td>
          </tr>
          <tr>
            <td><img src="assets/images/mailline.png" alt=""></td>
            <td>freetiragemali@gmail.com</td>
          </tr>
          <tr>
            <td><img src="assets/images/address.png" alt=""></td>
            <td>ACI 2000, Bamako</td>
          </tr>

        </table>


      </div>

    </div>


  </div>
  </section>
